* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header img{
    width: 150px;
    margin: 20px 30px;
}

h1 {
    color: #090914;
}

main {
    text-align: center;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

main > p {
    width: 400px;
    font-size: 15px;
    color: #52525B;
    margin-bottom: 30px;
}

div#formulario {
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #00000038;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > p {
    width: 100%;
}

input {
    border-radius: 10px;
    border: 1px solid #71717a61;
    height: 40px;
    text-align: center;
    margin: 10px;
}

#botao-cadastrar {
    width: 257px;
    margin: 10px;
    border: 0;
    font-weight: bold;
    color: white;
    background-color: #2E468C;
}

#botao-cadastrar:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #00000038;
    background-color: #273a74;
}

#legenda-entrar {
    font-size: 14px;
    color: #71717A;
    margin-top: 10px;
}

#legenda-entrar > a {
    text-decoration: none;
    color: #2563EB;
    font-weight: bold;
}