img#logo-cabecalho {
	width: 150px;
	margin: 20px 20px 20px 50px;
}

header,
#menu {
	display: flex;
	align-items: center;
}

#menu a {
	margin: 0 30px;
	font-weight: 300;
	color: #6c6e77;
}

#botao-cabecalho {
	position: absolute;
	right: 5%;
}

.solicitar-servico {
	border-radius: 20px;
	background: #2e468c;
	color: white;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	width: 200px;
	height: 50px;
	cursor: pointer;
}

.solicitar-servico:hover,
#botao-enviar:hover {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.507);
	background-color: #2d3e73;
}
